---
title: "Categories"
layout: default
permalink: "/categories.html"
---


<div class="page_head_box">
    <h1 class="page_head">Categories</h1>
</div>

{% for category in site.categories %}

<div class="category_box">
<!-- <h4 class="mt-5 mb-neg-30" id="{{ category[0] | replace: " ","-" }}"><span class="text-capitalize badge badge-primary text-small">{{ category[0] }}</span></h4> -->
<!-- <div class="category_box"> -->
    <h4 class="category_name " id="{{ category[0] | replace: " ","-" }}">{{ category[0] }}</h4>
</div>
<div class="blog-grid-container" style="margin-left:20px">
{% assign pages_list = category[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
{% endfor %}
